@font-face {
    font-family: 'Annexus';
    src: url('../fonts/Annexxus_Demo.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f7f7f792;
}

.container-form,
.container-diagnosis {
    display: inline-block;
    vertical-align: top;
}

.container-form {
    position: sticky;
    top: 200px;
    left: 250px;
}

.container-diagnosis {
    margin-left: 400px;
    margin-top: 150px;
    min-height: 500px; /* Ajusta este valor a lo que necesites */
}


.h1img {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid #ccc;
    padding: 5px;
    background-color: #6381a8;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 350px;
    margin-bottom: 20px;
    -webkit-box-shadow: 10px 10px 0px 0px rgba(233, 140, 166, 1);
    -moz-box-shadow: 10px 10px 0px 0px rgba(233, 140, 166, 1);
    box-shadow: 10px 10px 0px 0px rgba(233, 140, 166, 1);
}

.img-user {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 40px;
}

h1 {
    padding-left: 20px;
    font-family: 'Cambria';
    text-align: center;
    margin-bottom: 20px;
    margin-top: 15px;
    color: white;
}

.account {
    width: 350px;
    padding: 40px;
    background-color: #fff;
    font-family: 'Calibri';
    color: #6280a6;
    -webkit-box-shadow: 10px 10px 0px 1px rgba(99, 129, 168, 1);
    -moz-box-shadow: 10px 10px 0px 1px rgba(99, 129, 168, 1);
    box-shadow: 10px 10px 0px 1px rgba(99, 129, 168, 1);
}

input {
    border: none;
    border-bottom: 1px solid #6381a8;
    outline: none;
    font-size: 16px;
    padding: 5px;
    width: 100%;
    margin-bottom: 20px;
    font-family: 'Calibri';
    position: relative;
}

input::placeholder {
    color: #acc5e1;
    font-family: 'Calibri';
    transform: translateY(3px);
}

.btnEdit {
    background-color: #e98ca7;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    cursor: pointer;
}

.btnDelete {
    background-color: #e98ca7;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    width: 50px;
    height: 30px;
    cursor: pointer;
}

.result {
    width: 700px;
    padding: 40px;
    background-color: #fff;
    font-family: 'Cambria';
    color: #6280a6;
    -webkit-box-shadow: 10px 10px 0px 1px rgba(99, 129, 168, 1);
    -moz-box-shadow: 10px 10px 0px 1px rgba(99, 129, 168, 1);
    box-shadow: 10px 10px 0px 1px rgba(99, 129, 168, 1);
    margin-bottom: 30px;

}

.result:hover {
    -webkit-box-shadow: 10px 10px 0px 0px rgba(233, 140, 166, 1);
    -moz-box-shadow: 10px 10px 0px 0px rgba(233, 140, 166, 1);
    box-shadow: 10px 10px 0px 0px rgba(233, 140, 166, 1);
}

.circle {
    position: relative;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #acc5e1;
    margin-top: 10px;
    margin-bottom: 10px;
}

.circle::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    width: 600px;
    height: 2px;
    background-color: #acc5e1;
    transform: translateY(-50%);
}

h4 {
    font-family: 'Cambria';
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}


h5 {

    text-align: right;
    font-size: 15px;
    font-style: italic;
}

h5:hover {
    color: #e98ca7;
    cursor: pointer;
}

.opciones {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1500px) {
    .container-form {
        display: none;
    }

    .container-diagnosis {
        width: 700px;
        margin: 150px auto 0;
        /* lo centramos asi ok */
        display: block;
    }

.container-diagnosis.sin-resultados {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}
}


@media screen and (max-width: 755px) {

    .result {
        width: 50%;
        margin: 0 auto 20px;
    }

    .circle::after {
        width: 250px;
    }


.container-diagnosis.sin-resultados {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}
}

@media screen and (max-width: 555px) {

    .result {
        width: 50%;
        margin-bottom: 20px;
        margin-right: 0;
        margin-left: 0;
        box-sizing: border-box;
    }

    .circle::after {
        width: 250px;
    }

    .container-diagnosis {
        width: 100%;
        margin: 0;
    }

.container-diagnosis.sin-resultados {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}
}