@font-face {
    font-family: 'Annexus';
    src: url('../fonts/Annexxus_Demo.ttf');
}

@font-face {
    font-family: 'Cambria';
}

@font-face {
    font-family: 'Calibri';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f7f7f792;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
}

.logo img {
    width: 100px;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: #6280a6;
    font-family: 'Calibri';
    font-size: 16px;
    padding: 15px;
    margin: 10px;
}

nav a:hover {
    border-right: 1px solid #6280a6;
    border-bottom: 1px solid #6280a6;
    -webkit-box-shadow: 10px 10px 0px -7px rgba(99, 129, 168, 1);
    -moz-box-shadow: 10px 10px 0px -7px rgba(99, 129, 168, 1);
    box-shadow: 10px 10px 0px -7px rgba(99, 129, 168, 1);
}

/*HASTA AQUÍ PARA TODAS LAS PÁGINAS*/


h1 {
    font-family: 'Cambria';
    font-size: 40px;
    color: #6280a6;
    text-align: center;
    margin: 20px;
}

.container-sintomas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 20px;
    width: 100%;
    height: 400px;
    max-width: 800px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 100px;
}

.container-diagnosis {
    margin-top: 70px;
}

textarea {
    resize: none;
    width: 100%;
    height: 100px;
    border: 1px solid #6280a6;
    border-radius: 5px;
    font-family: 'Calibri';
    font-size: 16px;
}

textarea::placeholder {
    color: #999;
}

textarea:placeholder-shown {
    color: transparent;
}


/* RESULTADO */

.result {
    width: 700px;
    padding: 40px;
    background-color: #fff;
    font-family: 'Cambria';
    color: #6280a6;
    -webkit-box-shadow: 10px 10px 0px 1px rgba(99, 129, 168, 1);
    -moz-box-shadow: 10px 10px 0px 1px rgba(99, 129, 168, 1);
    box-shadow: 10px 10px 0px 1px rgba(99, 129, 168, 1);
    margin: 0 auto;
}

.result:hover {
    -webkit-box-shadow: 10px 10px 0px 0px rgba(233, 140, 166, 1);
    -moz-box-shadow: 10px 10px 0px 0px rgba(233, 140, 166, 1);
    box-shadow: 10px 10px 0px 0px rgba(233, 140, 166, 1);
}

.circle {
    position: relative;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #acc5e1;
    margin-top: 10px;
    margin-bottom: 10px;
}

.circle::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    width: 600px;
    height: 2px;
    background-color: #acc5e1;
    transform: translateY(-50%);
}

h4 {
    font-family: 'Cambria';
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

/*BTN */

.btnDiagnosis {
    width: 100%;
    background-color: #e98ca7;
    color: white;
    padding: 8px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: auto;
    font-size: 20px;
    font-weight: normal;
    text-align: justify;
    font-family: 'Calibri';
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 1500px) {
    body {
        font-size: 14px;
        text-align: center;

    }

.logo img {
        width: 80px;
    }

    nav a {
        font-size: 14px;
        padding: 10px;
        margin: 5px;
    }
}



@media only screen and (max-width: 415px) {    body {
        font-size: 14px;
        text-align: center;

    }

    .logo img {
        width: 100px;
    }

    nav a {
        font-size: 14px;
        padding: 10px;
        margin: 5px;
    }
}