* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cambria', 'Calibri', sans-serif;
}

body {
    font-family: 'Cambria', sans-serif;
    background-color: #f7f7f792;
}

/* Style container form */

.container-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    width: 400px;
    padding: 10px;
    background-color: #6280a6;
    font-family: 'Cambria', sans-serif;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
    color: #fff;
    -webkit-box-shadow: 10px 10px 0px 0px rgba(233, 140, 166, 1);
    -moz-box-shadow: 10px 10px 0px 0px rgba(233, 140, 166, 1);
    box-shadow: 10px 10px 0px 0px rgba(233, 140, 166, 1);
}

.edit-delete {
    width: 400px;
    padding: 40px 40px 20px 40px;
    background-color: #fff;
    font-family: 'Calibri', sans-serif;
    color: #6280a6;
    -webkit-box-shadow: 10px 10px 0px 1px rgba(99, 129, 168, 1);
    -moz-box-shadow: 10px 10px 0px 1px rgba(99, 129, 168, 1);
    box-shadow: 10px 10px 0px 1px rgba(99, 129, 168, 1);
}

input {
    border: none;
    border-bottom: 1px solid #6381a8;
    outline: none;
    font-size: 16px;
    padding: 5px;
    width: 100%;
    margin-bottom: 20px;
    font-family: 'Calibri', sans-serif;
    position: relative;
}

input::placeholder {
    color: #acc5e1;
    transform: translateY(3px);
}

#btnUpdate {
    background-color: #6280a6;
    color: white;
    border: none;
    padding: 5px 20px;
    width: 100%;
    cursor: pointer;
    font-family: 'Calibri', sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.eliminar {
    width: 400px;
    padding: 0 40px 20px 40px;
    background-color: #fff;
    color: #6280a6;
    font-family: 'Calibri', sans-serif;
    text-decoration: none;
    -webkit-box-shadow: 10px 10px 0px 1px rgba(99, 129, 168, 1);
    -moz-box-shadow: 10px 10px 0px 1px rgba(99, 129, 168, 1);
    box-shadow: 10px 10px 0px 1px rgba(99, 129, 168, 1);
}

span {
    opacity: 0.5;
}

span:hover {
    opacity: 1;
    color: #e98ca7;
    text-decoration: underline;
}