@font-face {
    font-family: 'Annexus';
    src: url('../fonts/Annexxus_Demo.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cambria', 'Calibri', sans-serif;
}

body {
    font-family: 'Cambria', sans-serif;
    background-color: #f7f7f7;
}

.container-illness {
    width: 80%;
    max-width: 1000px;
    padding: 40px;
    background-color: #fff;
    font-family: 'Calibri';
    color: #6280a6;
    box-shadow: 10px 10px 0px 1px rgba(99, 129, 168, 1);
    margin-bottom: 30px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.nombreEnfermedad {
    margin: 20px;
}

.sintomas {
    margin: 20px;
}

ul {
    list-style: none;
    margin-left: 5%;
    padding-left: 5%;
}
