@font-face {
    font-family: 'Annexus';
    src: url('../fonts/Annexxus_Demo.ttf');
}

@font-face {
    font-family: 'Cambria';
}

@font-face {
    font-family: 'Calibri';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f7f7f792;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
}

.logo img {
    width: 100px;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: #6280a6;
    font-family: 'Calibri';
    font-size: 16px;
    padding: 15px;
    margin: 10px;
}

nav a:hover {
    border-right: 1px solid #6280a6;
    border-bottom: 1px solid #6280a6;
    -webkit-box-shadow: 10px 10px 0px -7px rgba(99, 129, 168, 1);
    -moz-box-shadow: 10px 10px 0px -7px rgba(99, 129, 168, 1);
    box-shadow: 10px 10px 0px -7px rgba(99, 129, 168, 1);
}

/*HASTA AQUÍ PARA TODAS LAS PÁGINAS*/


@media only screen and (max-width: 1500px) {
    body {
        font-size: 14px;
        text-align: center;

    }

.logo img {
        width: 80px;
    }

    nav a {
        font-size: 14px;
        padding: 10px;
        margin: 5px;
    }
}



@media only screen and (max-width: 415px) {    body {
        font-size: 14px;
        text-align: center;

    }

    .logo img {
        width: 100px;
    }

    nav a {
        font-size: 14px;
        padding: 10px;
        margin: 5px;
    }
}