@font-face {
    font-family: 'Annexus';
    src: url('../fonts/Annexxus_Demo.ttf');
}

@font-face {
    font-family: 'Cambria';
}

@font-face {
    font-family: 'Calibri';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f7f7f792;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
}

.logo img {
    width: 100px;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: #6280a6;
    font-family: 'Calibri', sans-serif;
    font-size: 16px;
    padding: 15px;
    margin: 10px;
}

nav a:hover {
    border-right: 1px solid #6280a6;
    border-bottom: 1px solid #6280a6;
    -webkit-box-shadow: 10px 10px -7px rgba(99, 129, 168, 1);
    -moz-box-shadow: 10px 10px -7px rgba(99, 129, 168, 1);
    box-shadow: 10px 10px 0 -7px rgba(99, 129, 168, 1);
}

/*NAV BAR CSS*/


.container-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    width: 400px;
    padding: 10px;
    background-color: #6280a6;
    font-family: 'Cambria', sans-serif;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
    color: #fff;
    -webkit-box-shadow: 10px 10px rgba(233, 140, 166, 1);
    -moz-box-shadow: 10px 10px rgba(233, 140, 166, 1);
    box-shadow: 10px 10px rgba(233, 140, 166, 1);
}

.login {
    width: 400px;
    padding: 40px;
    background-color: #fff;
    font-family: 'Calibri', sans-serif;
    color: #acc5e1;
    -webkit-box-shadow: 10px 10px 1px rgba(99, 129, 168, 1);
    -moz-box-shadow: 10px 10px 1px rgba(99, 129, 168, 1);
    box-shadow: 10px 10px 1px rgba(99, 129, 168, 1);
}

.form-username img {
    margin-right: 10px;
    margin-bottom: 20px;
    width: 30px;
    height: 30px;
}

.form-pass img {
    margin-right: 10px;
    margin-bottom: 20px;
    width: 30px;
    height: 30px;
}

input {
    border: none;
    border-bottom: 1px solid #acc5e1;
    outline: none;
    font-size: 16px;
    padding: 5px;
    width: 100%;
    margin-bottom: 20px;
    font-family: 'Calibri', sans-serif;
    position: relative;
}

input::placeholder {
    color: #6381a8;
    font-family: 'Calibri', sans-serif;
    transform: translateY(3px);
}

.form-username,
.form-pass {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.btnsubmit {
    background-color: #6280a6;
    color: white;
    border: none;
    padding: 5px 20px;
    width: 100%;
    cursor: pointer;
    margin-bottom: 10px;
    font-family: 'Calibri', sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.btnsignup {
    background-color: #e98ca7;
    color: white;
    border: none;
    padding: 5px 20px;
    width: 100%;
    cursor: pointer;
    margin-bottom: 10px;
    font-family: 'Calibri', sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.form-btn h4 {
    font-size: 12px;
    color: grey;
    margin-right: 10px;
    margin-bottom: 10px;
    font-family: 'Calibri', sans-serif;
}