/*CUIDADO CON EL PADDING. ME DA PROBLEMAS. MUY GRANDE AHORA ESTÁ A 0 LOL PERO NO CARGA*/

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0;
	background-color: #fff;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999;
}

/*z-index 999 para que cuando haga scroll, el contenido debajo de nav no me bloquee nav */
.logo img {
	width: 100px;
}

nav ul {
	display: flex;
	list-style: none;
	margin-right: 20px;
}

.item-nav,
.item-dropdown {
	width: 130px;
	border: 0;
}

nav a {
	display: block;
	color: #6280a6;
	font-family: 'Calibri', sans-serif;
	font-size: 16px;
	padding: 15px;
	text-align: center;
	text-decoration: none;
}

.item-dropdown {
	opacity: 0.5;
}

.item-dropdown:hover {
	border-right: 1px solid #6280a6;
	border-bottom: 1px solid #6280a6;
	-webkit-box-shadow: 9px 9px 0px -7px rgba(99, 129, 168, 1);
	-moz-box-shadow: 9px 9px 0px -7px rgba(99, 129, 168, 1);
	box-shadow: 9px 9px 0px -7px rgba(99, 129, 168, 1);
	opacity: 1;
}

.nav-dropdown {
	display: none;
	background-color: white;
	position: absolute;
	z-index: 1;
	text-decoration: none;
	color: #6280a6;
	font-family: 'Calibri', sans-serif;
	font-size: 16px;
}

#cuenta:hover .nav-dropdown {
	display: block;
}

/* CÓDIGO PARA EL RESPONSIVE SIN ESTAR LOGGEADO */
@media screen and (max-width: 768px) {

	header {
		width: 100%;

	}

	nav ul {
		margin-right: 0;
	}

}