@font-face {
    font-family: 'Annexus';
    src: url('../fonts/Annexxus_Demo.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cambria', 'Calibri', sans-serif;
}

body {
    font-family: 'Cambria', sans-serif;
    background-color: #f7f7f7;
    max-width: 100%;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tfg {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 1200px;
    margin-top: 70px;
    margin-right: auto;
    margin-left: auto;
}


h1 {
    font-family: 'Cambria';
    color: #6280a6;
    font-size: 80px;
    text-align: center;
    margin-top: 30px;
}

h3 {
    font-family: 'Cambria';
    color: #6280a6;
    font-size: 20px;
    text-align: justify;
    margin-top: 15px;
    padding: 45px;
}

.us {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 50px auto;
    margin-top: 0;
}

.container-left {
    background: #FFFFFF;
    width: 40%;
    height: auto;
    background-color: #fff;
    font-family: 'Cambria';
    color: #6280a6;
    margin-right: 20px;
    margin-top: 15px;
    padding: 45px;
    text-align: justify;
    box-shadow: 10px 10px 0px 1px #6381a8;
    animation: tracking-in-expand 1.6s linear both;
}

.container-right {
    background: #FFFFFF;
    width: 40%;
    height: auto;
    background-color: #fff;
    font-family: 'Cambria';
    color: #6280a6;
    margin-left: 20px;
    margin-top: 15px;
    padding: 45px;
    text-align: justify;
    box-shadow: 10px 10px 0px 1px #e98ca7;
    animation: tracking-in-expand 1.6s linear both;
}

.container-img {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

h2 {
    font-family: 'Cambria';
    color: #6280a6;
    font-size: 40px;
    text-align: center;
    margin-top: 15px;
}

p {
    margin-top: 15px;
    margin-bottom: 15px;
}

@keyframes tracking-in-expand {
    0% {
        letter-spacing: -.2em;
        opacity: 0
    }

    40% {
        opacity: .6
    }

    100% {
        opacity: 1
    }
}

@media screen and (max-width: 800px) {
    .us {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .container-left,
    .container-right {
        width: 90%;
        margin: 0;
        margin-bottom: 20px;
        padding: 20px;
    }

    .container-left {
        order: 2;
    }

    .container-right {
        order: 1;
    }

}