* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cambria', 'Calibri', sans-serif;
}

body {
    font-family: 'Cambria', sans-serif;
    background-color: #f7f7f7;
    height: 100%;
}

/**/
h1 {
    font-family: 'Cambria';
    font-size: 40px;
    color: #6280a6;
    text-align: center;
    margin: 20px;
}

/* RESULTADO */

.container-diagnosis {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.result {
    width: 700px;
    padding: 40px;
    background-color: #fff;
    font-family: 'Cambria';
    color: #6280a6;
    -webkit-box-shadow: 10px 10px 0px 1px #6280a6;
    -moz-box-shadow: 10px 10px 0px 1px #6280a6;
    box-shadow: 10px 10px 0px 1px #6280a6;
    margin: 0 auto;
    margin-top: 40px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

/*
.result:hover {
    -webkit-box-shadow: 10px 10px 0px 0px rgba(233, 140, 166, 1);
    -moz-box-shadow: 10px 10px 0px 0px rgba(233, 140, 166, 1);
    box-shadow: 10px 10px 0px 0px rgba(233, 140, 166, 1);
}
*/
.circle {
    position: relative;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #acc5e1;
    margin-top: 10px;
    margin-bottom: 10px;
}

.circle::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    width: 600px;
    height: 2px;
    background-color: #acc5e1;
    transform: translateY(-50%);
}

h4 {
    font-family: 'Cambria';
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

/*BTN */

.btnDiagnosis {
    width: 100%;
    background-color: #e98ca7;
    color: white;
    padding: 8px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: auto;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    font-family: 'Calibri';
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

