<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>QUASILL</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

</head>

<body>
<header>
    <div class="logo">
        <!-- access index with views.index -->
        <a href="{{ url_for('views.index') }}">
            <img src="{{ url_for('static', filename='img/logo2.png') }}" alt="logo"/>
        </a>
    </div>
    <nav>
        <ul>
            <li><a href="diagnosis.html">Diagnosis</a></li>
            <li><a href="nosotros.html">About Us</a></li>
            <li><a href="login.html">Account</a></li>
            <li><a href="editar.html.html">Edit</a></li>
            <li><a href="editar.html.html">Log out</a></li>
        </ul>
    </nav>


</header>
