<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>ACCOUNT</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cuenta.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}">
</head>

<body>
<header>
    <div class="logo">
        <!-- access index with views.index -->
        <a href="{{ url_for('views.index') }}">
            <img src="{{ url_for('static', filename='img/logo2.png') }}" alt="logo"/>
        </a>
    </div>
    <nav>
        <ul>
            <li class="item-nav">
                <a href="{{ url_for('views.nosotros') }}">About us</a>
            </li>
            <li class="item-nav">
                <a href="{{ url_for('auth.diagnostico') }}">Diagnosis</a>
            </li>
            <li id="cuenta" class="item-nav">
                <a>Account</a>
                <ul class="nav-dropdown">
                    <li><a class="item-dropdown" href="{{ url_for('auth.cuenta') }}">Account</a></li>
                    <li><a class="item-dropdown" href="{{ url_for('auth.editar') }}">Edit account</a></li>
                    <li><a class="item-dropdown" href="{{ url_for('auth.logout') }}">Log out</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>

<div class="container-form">

    <div class="h1img">
        <img src="{{ url_for('static', filename='img/headwhite.png') }}" alt="user-icon" class="img-user">
        <h1>MY PROFILE</h1>
    </div>

    <div class="account">
        <div class="form-name">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" placeholder="Paco" value="{{ user.name }}" readonly>
            <span class="data" id="name-data"></span>
        </div>

        <div class="form-surname1">
            <label for="surname1">Surname</label>
            <input type="text" id="surname1" name="surname1" placeholder="Chocolatero" value="{{ user.surname }}"
                   readonly>
            <span class="data" id="surname1-data"></span>
        </div>

        <div class="form-username">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" placeholder="paquitoEnfermo" value="{{ user.username }}"
                   readonly>
            <span class="data" id="username-data"></span>
        </div>

        <div class="form-email">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="chocochurro@gmail.com" value="{{ user.email }}"
                   readonly>
            <span class="data" id="email-data"></span>
        </div>
    </div>
</div>

<div class="container-diagnosis {% if no_results %}sin-resultados{% endif %}" id="diagnosticDiv" >
    <form method="POST" action="/delete_diagnostic">
        {% set contador = diagnostics|length - 1 %}
        {% for diagnostic in diagnostics|reverse %}
            <div class="result" id="diagnostic-{{ counter }}">
                <h4>DIAGNOSTIC'S RESULTS FOR</h4>
                <h4>Symptoms:
                    <span class="data" id="textSymptoms">{{ diagnostic.text }}</span>
                </h4>
                <div class="circle"></div>
                <div class="opciones">
                     <button class="btnDelete" type="submit" name="index" value="{{ contador }}">Delete</button>
                <h5 onclick="location.href='{{ url_for('auth.feedback', diag_id=contador) }}';">Feedback?</h5>
                </div>

            </div>
            {% set contador = contador - 1 %}
        {% endfor %}
    </form>
</div>

</body>

</html>

<!--El diagnostico no tiene un ID, solo la posición que ocupa en la lista Diagnostic del User
         Un usuario solo puede tener 20 diagnosticos. -->
<!--Jinja2 tiene la variable especial loop.index0 que nos da el indice actual del bucle-->
