<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>DIAGNOSIS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/diagnostico.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}">
</head>

<body>
<header>
    <div class="logo">
        <!-- access index with views.index -->
        <a href="{{ url_for('views.index') }}">
            <img src="{{ url_for('static', filename='img/logo2.png') }}" alt="logo"/>
        </a>
    </div>
    <nav>
       <ul>
            <li class="item-nav">
                <a href="{{ url_for('views.nosotros') }}">About us</a>
            </li>
            <li class="item-nav">
                <a href="{{ url_for('auth.diagnostico') }}">Diagnosis</a>
            </li>
            <li id="cuenta" class="item-nav">
                <a>Account</a>
                <ul class="nav-dropdown">
                    <li><a class="item-dropdown" href="{{ url_for('auth.cuenta') }}">Account</a></li>
                    <li><a class="item-dropdown" href="{{ url_for('auth.editar') }}">Edit account</a></li>
                    <li><a class="item-dropdown" href="{{ url_for('auth.logout') }}">Log out</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>

<div class="container-sintomas">
    <h1>Introduce your symptoms :</h1>
    <div class="container-input">
        <form id="form-diagnosis" action="/diagnostico" method="post">
            <textarea id="inputSintomas" name="inputSintomas" placeholder="I have cavities and my ankle hurts when I run." cols="30" rows="10"></textarea>
            <div class="form-btn">
               <button class="btnDiagnosis" onclick="location.href='/resultados.html'">DIAGNOSTICATE</button>
            </div>
        </form>
    </div>
</div>

<script src="static/js/diagnosticos.js"></script>
</body>

</html>
