<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>EDIT ACCOUNT</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/editar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}">
</head>

<body>
<header>
    <div class="logo">
        <!-- access index with views.index -->
        <a href="{{ url_for('views.index') }}">
            <img src="{{ url_for('static', filename='img/logo2.png') }}" alt="logo"/>
        </a>
    </div>
    <nav>
        <ul>
            <li class="item-nav">
                <a href="{{ url_for('views.nosotros') }}">About us</a>
            </li>
            <li class="item-nav">
                <a href="{{ url_for('auth.diagnostico') }}">Diagnosis</a>
            </li>
            <li id="cuenta" class="item-nav">
                <a>Account</a>
                <ul class="nav-dropdown">
                    <li><a class="item-dropdown" href="{{ url_for('auth.cuenta') }}">Account</a></li>
                    <li><a class="item-dropdown" href="{{ url_for('auth.editar') }}">Edit account</a></li>
                    <li><a class="item-dropdown" href="{{ url_for('auth.logout') }}">Log out</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>
<div class="container-form">
    <h1>Edit profile</h1>
    <form class="edit-delete" method="POST">
        <div class="form-name">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" placeholder="Paco" value="{{ user.name }}" required>
        </div>
        <div class="form-surname1">
            <label for="surname1">Surname</label>
            <input type="text" id="surname1" name="surname1" placeholder="Chocolatero" value="{{ user.surname }}"
                   required>
        </div>
        <div class="form-surname2">
            <label for="surname2">Second surname</label>
            <input type="text" id="surname2" name="surname2" value="{{ user.surname2 }}" placeholder="Perez">
        </div>
        <div class="form-email">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="chocochurro@gmail.com" value="{{ user.email }}"
                   required>
        </div>
        <div class="form-username">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" placeholder="paquitoEnfermo" value="{{ user.username }}"
                   required>
        </div>
        <div class="form-pass">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="p4quit0Ch0c0" required>
        </div>
        <div class="form-btn">
            <button id="btnUpdate" name="submit_button" value="btnUpdate" type="submit">SAVE</button>
        </div>
    </form>

    <a class="eliminar" href="{{ url_for('auth.eliminar') }}">
        <span>Want to eliminate your account?</span>
    </a>

</div>
</body>

</html>