<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>FEEDBACK</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/feedback.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">

    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}">

</head>

<body>
<header>
    <div class="logo">
        <!-- access index with views.index -->
        <a href="{{ url_for('views.index') }}">
            <img src="{{ url_for('static', filename='img/logo2.png') }}" alt="logo"/>
        </a>
    </div>
    <nav>
        <ul>
            <li><a href="{{ url_for( 'views.diagnostico') }}">Diagnóstico</a></li>
            <li><a href="{{ url_for('views.nosotros') }}">Nosotros</a></li>
            <li><a href="{{ url_for('auth.cuenta') }}">Cuenta</a></li>
            <li><a href="{{ url_for('auth.editar') }}">Editar</a></li>
            <li><a href="{{ url_for('views.logout') }}">Salir</a></li>
        </ul>
    </nav>
</header>

<div class="container-feedback">
    <h1>Help us get better!</h1>
    <h2>Help us improve our service by filling out this form.</h2>
    <h3>Your medical insights are valuable to us. If you have consulted with a healthcare professional, we kindly
        request you to provide the diagnosis you received.</h3>
    <div class="container-form">
        <form class="feedback-form" action="">
                <textarea placeholder="After being examined by my doctor, she has told me..." name="inputFeedback"
                          id="inputFeedback">
                </textarea>
            <button type="submit" class="btnSubmit">Submit</button>
        </form>
    </div>
</div>

</body>

</html>