<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>QUASILL</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}">

</head>

<body>
<header>
    <div class="logo">
        <!-- access index with views.index -->
        <a href="{{ url_for('views.index') }}">
            <img src="{{ url_for('static', filename='img/logo2.png') }}" alt="logo"/>
        </a>
    </div>
    <nav>
        <ul>
            <li><a href="{{ url_for('views.diagnostico') }}">Diagnóstico</a></li>
            <li><a href="{{ url_for('views.nosotros') }}">Nosotros</a></li>
            <li><a href="{{ url_for('auth.cuenta') }}">Cuenta</a></li>
            <li><a href="{{ url_for('auth.editar') }}">Editar</a></li>
            <li><a href="{{ url_for('views.index') }}">Salir</a></li>
        </ul>
    </nav>
</header>

<div class="containers">
    <div class="container-left">
        <h1 id="quasill">Quasill</h1>
        <h2 id="quasill2">Da sentido tus síntomas</h2>
        <h4 class="informacion">
            Quasill es una aplicación que te permite diagnosticar tus síntomas y
            obtener una lista de enfermedades que pueden estar causándolos.
            Utilizamos la inteligencia artificial para analizar tus síntomas y
            ofrecerte un diagnóstico.
        </h4>
    </div>
    <div class="container-right">
        <h1 class="h1demo">Introduce tus síntomas :</h1>
        <div id="inputDemo"></div>
        <div class="form-btn">
            <button id="btnDemo" type="button">DEMO DIAGNÓSTICO</button>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>

</body>

</html>