<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}">

</head>
<body>
<header>
    <div class="logo">
        <!-- access index with views.index -->
        <a href="{{ url_for('views.index') }}">
            <img src="{{ url_for('static', filename='img/logo2.png') }}" alt="logo"/>
        </a>
    </div>
    <nav>
        <ul>
            <li><a href="{{ url_for( 'views.diagnostico') }}">Diagnóstico</a></li>
            <li><a href="{{ url_for('views.nosotros') }}">Nosotros</a></li>
            <li><a href="{{ url_for('auth.cuenta') }}">Cuenta</a></li>
        </ul>

    </nav>
</header>

<div class="container-form">
    <h1>Cuenta</h1>
    <form class="login" action="{{ url_for('auth.login') }}" method="post">
        <div class="form-username">
            <img src="{{ url_for('static', filename='img/user.png') }}" alt="person-icon"/>
            <input type="text" id="username" name="username" placeholder="Nombre de usuario" required/>
        </div>
        <div class="form-pass">
            <img src="{{ url_for('static', filename='img/password.png') }}" alt="user-icon"/>
            <input type="password" id="password" name="password" placeholder="Contraseña" required/>
        </div>
        <div class="form-btn">
            <button class="btnsubmit" type="submit">ACCEDER</button>
            <h4>¿No tiene cuenta?</h4>
            <button class="btnsignup" type="button" onclick="location.href='/signup';">REGISTRARSE</button>
        </div>
    </form>
</div>
</body>

</html>