<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>DIAGNOSTICO</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/resultados.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}">
</head>

<body>
<header>
    <div class="logo">
        <!-- access index with views.index -->
        <a href="{{ url_for('views.index') }}">
            <img src="{{ url_for('static', filename='img/logo2.png') }}" alt="logo"/>
        </a>
    </div>
    <nav>
        <ul>
            <li class="item-nav">
                <a href="{{ url_for('views.nosotros') }}">Nosotros</a>
            </li>
            <li class="item-nav">
                <a href="{{ url_for('auth.diagnostico') }}">Diagnóstico</a>
            </li>
            <li id="cuenta" class="item-nav">
                <a>Cuenta</a>
                <ul class="nav-dropdown">
                    <li><a class="item-dropdown" href="{{ url_for('auth.cuenta') }}">Perfil</a></li>
                    <li><a class="item-dropdown" href="{{ url_for('auth.editar') }}">Editar datos</a></li>
                    <li><a class="item-dropdown" href="{{ url_for('auth.logout') }}">Cerrar sesión</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>

<div class="container-diagnosis">


    <div class="result" id="resultado1">
        <h4>ILLNESS:
            <span class="data" id="disease-data">{{ diagnostic.disease }}</span>
        </h4>
        <h4>PROBABILITY:
            <span class="data" id="probability-data">{{ diagnostic.probability }}</span>
        </h4>
        <div class="circle"></div>
        <h5 onclick="location.href='/feedback.html';">Feedback?</h5>
    </div>
    <div class="result" id="resultado2">
        <h4>ILLNESS:
            <span class="data" id="disease-data">{{ diagnostic.disease }}</span>
        </h4>
        <h4>PROBABILITY:
            <span class="data" id="probability-data">{{ diagnostic.probability }}</span>
        </h4>
        <div class="circle"></div>
        <h5 onclick="location.href='/feedback.html';">Feedback?</h5>
    </div>
    <div class="result" id="resultado3">
        <h4>ILLNESS:
            <span class="data" id="disease-data">{{ diagnostic.disease }}</span>
        </h4>
        <h4>PROBABILITY:
            <span class="data" id="probability-data">{{ diagnostic.probability }}</span>
        </h4>
        <div class="circle"></div>
        <h5 onclick="location.href='/feedback.html';">Feedback?</h5>
    </div>
    <div class="result" id="resultado4">
        <h4>ILLNESS:
            <span class="data" id="disease-data">{{ diagnostic.disease }}</span>
        </h4>
        <h4>PROBABILITY:
            <span class="data" id="probability-data">{{ diagnostic.probability }}</span>
        </h4>
        <div class="circle"></div>
        <h5 onclick="location.href='/feedback.html';">Feedback?</h5>
    </div>
    <div class="result" id="resultado5">
        <h4>ILLNESS:
            <span class="data" id="disease-data">{{ diagnostic.disease }}</span>
        </h4>
        <h4>PROBABILITY:
            <span class="data" id="probability-data">{{ diagnostic.probability }}</span>
        </h4>
        <div class="circle"></div>
        <h5 onclick="location.href='/feedback.html';">Feedback?</h5>
    </div>
    <div class="result" id="resultado6">
        <h4>ILLNESS:
            <span class="data" id="disease-data">{{ diagnostic.disease }}</span>
        </h4>
        <h4>PROBABILITY:
            <span class="data" id="probability-data">{{ diagnostic.probability }}</span>
        </h4>
        <div class="circle"></div>
        <h5 onclick="location.href='/feedback.html';">Feedback?</h5>
    </div>
</div>

</body>

</html>