<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>SIGN UP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}">

</head>
<body>
<header>
    <div class="logo">
        <!-- access index with views.index -->
        <a href="{{ url_for('views.index') }}">
            <img src="{{ url_for('static', filename='img/logo2.png') }}" alt="logo"/>
        </a>
    </div>
    <nav>
        <ul>
            <li class="item-nav">
                <a href="{{ url_for('views.nosotros') }}">About us</a>
            </li>
            <li id="cuenta" class="item-nav">
                <a>Account</a>
                <ul class="nav-dropdown">
                    <li><a class="item-dropdown" href="{{ url_for('auth.login') }}">Sign in</a></li>
                    <li><a class="item-dropdown" href="{{ url_for('auth.signup') }}">Sign up</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>

<div class="container-form">
    <h1>SIGN UP</h1>
    <form class="signup" id="signupForm" action="{{ url_for('auth.signup') }}" method="post">
        <div class="form-name">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" placeholder="Paco" required>
        </div>
        <div class="form-surname1">
            <label for="surname1">Surname</label>
            <input type="text" id="surname1" name="surname1" placeholder="Chocolatero" required>
        </div>
        <div class="form-surname2">
            <label for="surname2">Last surname</label>
            <input type="text" id="surname2" name="surname2" placeholder="Perez">
        </div>
        <div class="form-email">
            <label for="email">E-mail</label>
            <input type="email" id="email" name="email" placeholder="chocochurro@gmail.com" required>
        </div>
        <div class="form-username">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" placeholder="paquitoEnfermo" required>
        </div>
        <div class="form-pass">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="p4quit0Ch0c0" required>
        </div>
        <div class="form-pass">
            <label for="password2">Confirm password</label>
            <input type="password" id="password2" name="password2" placeholder="p4quit0Ch0c0" required>
        </div>
        <div class="form-btn">
            <button class="btnCreate" type="button" onclick="submitForm()">CREATE ACCOUNT</button>
        </div>
    </form>
</div>

<script src="{{ url_for('static', filename='js/index.js') }}"></script>

</body>

</html>